<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ren.reading">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_login_key" /> <!-- 카카오톡아이디로 로그인을 사용하기 위해서 넣어줘야하는 부분 -->

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- [naveroauthlogin] 네이버아이디로 로그인을 사용하기 위해서 넣어줘야하는 부분 -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".BookInfoActivity" />
        <activity android:name=".MyLibraryActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".DiaryActivity" />
        <activity android:name=".DiaryDetailActivity" />
        <activity android:name=".WriteDiaryActivity" />
        <activity android:name=".WriteReviewActivity"/>
        <activity android:name=".OCRActivity" />
        <activity android:name=".SearchBookActivity" />
        <activity android:name=".SearchBookActivity2" />
        <activity android:name=".BookDetailActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MonthlyStatsActivity" />
        <activity android:name=".GenreStatsActivity" />
        <activity android:name=".PhoneSettingActivity" />
        <activity android:name=".MyLibraryFutureActivity" />
        <activity android:name=".MyLibraryPastActivity" />
        <activity android:name=".ChangeDiaryActivity"/>

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.ren.reading.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


    </application>

</manifest>